// FONTS
$font-n:"Open Sans";
$font-b:"Open Sans";

// PALETTE
$rosado:   #bb4851;
$carmin:   #F40C60;
$ocre:     #ECA345;
$limon:    #FEE043;
$naranja:  #FF8500;
$pistacho: #A5D467;
$menta:    #17A360;
$purpura:  #A96DAF;
$lila:     #AA34B7;
$anyil:    #6DC7FC;
$cielo:    #006ABA;
$electrico:#2F39B1;

$palette_01_a: #222e50;
$palette_01_b: #007991;
$palette_01_c: #439a86;
$palette_01_d: #e9d985;

$gris-t:   #222222;
$gris-m:   #2F2F2F;
$gris-c:   #3E3E3E;
$gris-b:   #A3A099;

$black:    #000000;
$white:    #ffffff;


// COLORS
$theme_brand: #1a2641;
$theme_dark: #020202;
$theme_middle: #334e7b;
$theme_base: #4a699c;

$theme_light: #dfe2e6;

// LAYOUT